.about-me {
  color: $main-yellow-color;
  height: 110vh;
  display: flex;
  flex-direction: column;

  &__top {
    height: 75%;
    width: calc(100% - 2px);
    background-color: $main-black-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid $main-yellow-color;
  }
  &__heading {
    font-size: 4rem;
    text-align: center;

    p {
      font-size: 4rem;
      background-image: radial-gradient(
        closest-side,
        $color-white,
        $main-yellow-color 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    h2 {
      font-size: 7rem;
      background-image: radial-gradient(
        closest-side,
        $color-white,
        $main-yellow-color 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  &__intro {
    font-size: 2.5rem;
    padding: 0 25rem;

    a {
      color: $color-white;

      transition: all 0.5s ease;

      &:hover {
        color: $main-yellow-color;
      }
    }
  }

  &__bottom {
    background-image: radial-gradient(
      $main-yellow-color,
      $main-black-color 50%
    );
    height: 100%;
  }

  &__bottom-container {
    display: flex;
    justify-content: center;
    height: 100%;
    // width: 25%;
  }

  &__skills-column {
    background-color: $main-black-color;
    width: 25%;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border-radius: 5px;
    font-size: $default-font;
    border: 1px solid $main-yellow-color;
  }

  &__skills-icon {
    font-size: 4rem;
    background-image: radial-gradient(
      closest-side,
      $color-white,
      $main-yellow-color
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &__skills-heading {
    font-size: 3rem;
    background-image: radial-gradient(
      closest-side,
      $color-white,
      $main-yellow-color
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__skills-description {
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 2rem;
  }
  &__skills-languages {
    h4 {
      font-size: 3rem;
      background-image: radial-gradient(
        closest-side,
        $color-white,
        $main-yellow-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    p {
      font-size: 2rem;
    }
  }
  &__skills-tools {
    h4 {
      font-size: 3rem;
      margin: 1rem 0;
      background-image: radial-gradient(
        closest-side,
        $color-white,
        $main-yellow-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__skills-tool-item {
    list-style: none;
    font-size: 2rem;
    color: $color-white;
  }
}
