.about-me {
  color: $main-yellow-color;
  position: relative;

  &__top {
    height: 50vh;
    background-color: $main-black-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15rem;
    line-height: 4rem;
    border: 1px solid $main-yellow-color;
  }
  &__heading {
    font-size: 4rem;
    text-align: center;
    line-height: 5rem;

    p {
      color: $color-white;
    }
  }
  &__intro {
    font-size: 2.5rem;

    a {
      color: $color-white;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        color: $main-yellow-color;
      }
    }
  }

  &__bottom {
    background-image: radial-gradient(
      $main-yellow-color,
      $main-black-color 50%
    );
    height: 75vh;
  }

  &__bottom-container {
    display: flex;
    justify-content: center;
  }

  &__skills-column {
    background-color: $main-black-color;
    color: $color-white;
    display: flex;
    height: 85vh;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border-radius: 5px;
    font-size: $default-font;
    border: 1px solid $main-yellow-color;

    &:not(:last-child) {
      position: absolute;
      top: 32%;
      left: 25%;
    }
    &:last-child {
      position: absolute;
      top: 32%;
      left: 50%;
    }
  }

  // .heading1 {
  //   padding-top: 4rem;
  // }
  &__skills-icon {
    font-size: 4rem;
    background-image: radial-gradient(
      closest-side,
      $color-white,
      $main-yellow-color
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &__skills-heading {
    font-size: 3rem;
    background-image: radial-gradient(
      closest-side,
      $color-white,
      $main-yellow-color
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__skills-description {
    color: $color-white;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
  }
  &__skills-languages {
    h4 {
      font-size: 3rem;
      background-image: radial-gradient(
        closest-side,
        $color-white,
        $main-yellow-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    p {
      font-size: 2rem;
    }
  }
  &__skills-tools {
    h4 {
      font-size: 3rem;
      margin: 1rem 0;
      background-image: radial-gradient(
        closest-side,
        $color-white,
        $main-yellow-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__skills-tool-item {
    list-style: none;
    font-size: 2rem;
    color: $color-white;
  }
}
